<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christian Mark A. Bituin</title>
</head>
<body>
    <img src="https://media.philstar.com/photos/2020/05/01/mv-mangagawa-2_2020-05-01_20-47-36.jpg" alt="mangagagawa">
    <h3>Manggagawa</h3>
    <h4>by Jose Corazon de Jesus</h4>
    <p>Bawat palo ng martilyo sa bakal mong pinapanday
        <br>
        alipatong nagtilamsik, alitaptap sa karimlan;
        <br>
        mga apoy ng pawis mong sa Bakal ay kumikinang
        <br>
        tandang ikaw ang may gawa nitong buong Santinakpan.
        <br>
        Nang tipakin mo ang bato ay natayo ang katedral
        <br>
        nang pukpukin mo ang tanso ay umugong ang batingaw,
        <br>
        nang lutuin mo ang pilak ang salapi ay lumitaw,
        <br>
        si Puhunan ay gawa mo, kaya ngayon’y nagyayabang.
    </p>
    <p>
        Kung may ilaw na kumisap ay ilaw ng iyong tadyang,
        <br>
        kung may gusaling naangat, tandang ikaw ang pumasan
        <br>
        mula sa duyan ng bata ay kamao mo ang gumalaw
        <br>
        hanggang hukay ay gawa mo ang krus na nakalagay.
    </p>
    <p>
        Kaya ikaw ay marapat dakilain at itanghal
        <br>
        pagkat ikaw ang yumari nitong buong Kabihasnan…..
        <br>
        Bawat patak ng pawis mo’y yumayari ka ng dangal,
        <br>
        dinadala mo ang lahi sa luklukan ng tagumpay.
    </p>
    <p>
        Mabuhay ka nang buhay na walang wakas, walang hanggan,
        <br>
        at hihinto ang pag-ikot nitong mundo pag namatay.
    </p>
</body>
</html>