{% extends 'base.html' %}
{% load leaflet_tags %}
{% block style %}
{% leaflet_css plugins="forms" %}
{% endblock style %}
{% block content %}
<div class="container">
    <div class="row">
    <h1>Update Incident</h1>
        <form action="{% url 'update_incident' incident.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Next" class="btn btn-lg btn-primary">
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% leaflet_js plugins="forms" %}
<script>
$(document).ready(function(){
    $("#id_DateAlarmReceived").flatpickr();
    $("#id_TimeAlarmReceived").flatpickr({
        enableTime: true,
        noCalendar: true,
        time_24hr: true,
    });
})
</script>
{% endblock scripts %}