{% extends 'base.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% block content %}
    <div class="row">
        <div class="col-md-2 hiden-xs"></div>
        <div class="col-md-8 col-xs-12">
            <canvas id="perBarangay" width="500" height="300"></canvas>
        </div>
        <div class="col-md-2 hidden-xs"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/charts.js' %}"></script>
    <script>
        $(document).ready(function () {
            const perBarangay = document.getElementById('perBarangay').getContext('2d');
            const perBarangayChart = new Chart(perBarangay, {
                type: 'horizontalBar',
                data: {
                    labels: [{% for b in barangays %}
                        {% if b.IncidentCount %}
                            '{{ b.Name  }}',
                        {% endif %}
                    {% endfor %}
                    ],
                    datasets: [{
                        label: 'Number of Fire Incidents Per Barangay',
                        data: [{% for b in barangays %}
                            {% if b.IncidentCount %}
                                '{{ b.IncidentCount  }}',
                            {% endif %}
                        {% endfor %}
                        ],
                        backgroundColor: 'pink',
                        borderWidth: 0
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });


        })//document ready
    </script>
{% endblock %}