{% extends 'base.html' %}
{% block styles %}
{% endblock styles %}
{% block content %}

{% comment %}
1. filter incident list -> date, barangay
2. search incident -> by owner
3. add incident
4. incident list -> pagination
5. reports list -> monthly report, annual report
{% endcomment %}
<div class="container">
<div class="row">
<a href="{% url 'new_incident' %}">Add Incident</a>
</div>
<div class="row">
<form action="{% url 'report_builder' %}" method="get">
    From:<input type="date" name="dateFrom" value="{% if 'dateFrom' in request.GET %}{{ request.GET.dateFrom }}{% endif %}">
    To:<input type="date" name="dateTo" value="{% if 'dateTo' in request.GET %}{{ request.GET.dateTo }}{% endif %}">
    <select name="barangay" id="">
        <option value="">-</option>
        {% for b in barangay %}
            <option value="{{ b.id }}" {% if 'barangay' in request.GET %}{% if request.GET.barangay == b.id|slugify %} selected{% endif %}{% endif %}>{{ b.Name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
</div>
    <div class="row">
        <table class="table table-bordered text-center table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                    <a href="{% url 'report_builder' %}{% if 'order' in request.GET %}{% if request.GET.order == 'date-asc' %}?order=date-desc{% else %}?order=date-asc{% endif %}{% else %}?order=date-asc{% endif %}">
                    Date
                    </a>
                    </th>
                    <th class="text-center">
                    <a href="{% url 'report_builder' %}{% if 'order' in request.GET %}{% if request.GET.order == 'owner-asc' %}?order=owner-desc{% else %}?order=owner-asc{% endif %}{% else %}?order=owner-asc{% endif %}">
                    Owner
                    </a>
                    </th>
                    <th class="text-center">
                    <a href="{% url 'report_builder' %}{% if 'order' in request.GET %}{% if request.GET.order == 'barangay-asc' %}?order=barangay-desc{% else %}?order=barangay-asc{% endif %}{% else %}?order=barangay-asc{% endif %}">
                    Barangay
                    </a>
                    </th>
                    <th class="text-center">
                    Actions
                    </th>
                </tr>
            </thead>
    </div>
    <tbody class="">
        {% for i in incidents %}
        <tr>
            <td>
                {{ i.DateCalled|date:"Y-m-d" }}
            </td>
            <td>{% if i.OwnerName != None %}{{ i.OwnerName }}{% endif %}</td>
            <td>
                {{ i.Barangay }}
            </td>
            <td>
                <a href="#">Create/Print Report</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {%	include	"pagination.html"	with	page=incidents	%}
</div>
<div class="row">
<h3>Monthly Report</h3>
<form action="">
Month<select name="mreportm" id="">
    <option value="">-</option>
</select>
<select name="mreporty" id="">
Year<option value="">-</option>
</select>
<input type="submit" value="Generate Monthly Report">
</form>
<h3>Annual Report</h3>
<form action="">
<select name="yreporty">
<option value="">-</option>
</select>
<input type="submit" value="Generate Annual Report">
</form>
</div>
</div>

{% endblock content %}
{% block scripts %}
{% endblock scripts %}