{% extends 'base.html' %}
{% block style %}
    <link href="https://unpkg.com/tabulator-tables@4.9.1/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="/dist/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet">
{% endblock style %}


{% block content %}
<div style="margin-bottom:20px">
    <button class="btn btn-success btn-lg" id="print-table">Print Report</button>
    <button class="btn btn-success btn-lg" id="download-xlsx">Download XLSX</button>
</div>

{#    <button id="download-pdf">Download PDF</button>#}
    <div id="example-table"></div>

{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.1/dist/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
    <script>

        


        //from incidents
        var tabledata = [
            {% for i in incidents %}
                {
                {% for key, value in i.items %}
                    {% if value == None %}
                        {{ key }}:"",
                    {% endif %}
                    {% if value != None %}
                        {% if key == "DateTime" %}
                            {{ key }}:"{{ value|date:"Y-m-d H:i" }}",
                        {% endif %}
                        {% if key != "DateTime" %}
                            {{ key }}:"{{ value }}",
                        {% endif %}
                    {% endif %}
                {% endfor %}
                },
            {% endfor %}
        ]

        //declartion
        var table = new Tabulator("#example-table", {
            data: tabledata,
            layout: "fitColumns",
            columns: [
             {formatter:"rownum", align:"center", width:40},
                {% for c in checked %}
                    {
                        title: "{{ c }}", field: "{{ c }}"
                    },
                {% endfor %}
            ],
        })

        document.getElementById("print-table").addEventListener("click", function () {
            table.print("active", true, {columnGroups:false});
        });
        document.getElementById("download-xlsx").addEventListener("click", function () {
            table.download("xlsx", "bfpspc.xlsx", {sheetName: "BFP Fire Incident Records"});
        });
        //trigger download of data.pdf file
        document.getElementById("download-pdf").addEventListener("click", function () {
            table.download("pdf", "bfpspc.pdf", {
                orientation: "landscape", //set page orientation to portrait
                title: "Bureau of Fire Protection Report", //add title to report
            });
        });
    </script>
{% endblock scripts %}
