.sidebar{
    color: white;
    height:100%;
    min-height: 100vh;
}
.sidebar{ padding: 0; }
.sidebar h3{ margin-top:0; padding-top:1em; padding-left:15px;}
.sidebar ul{ list-style-type:none;padding: 0 0 0 15px;}
.sidebar ul li{ padding: 0.5em 1em 0.5em 0.5em; }
.sidebar ul li:hover{ background-color: #2791DA; }
.sidebar ul a{ color: white; text-decoration: none; }

.main{ margin-top:2em; }
#mapid{ min-height:90vh; }

.navbar-on-mobile{ padding-left: 0; padding-right:0; }
.navbar-on-mobile .navbar-default .navbar-brand{ color: white; }
.navbar-on-mobile .navbar-default .navbar-toggle { border-color: #007CB7; }
.navbar-on-mobile .navbar-default .navbar-toggle .icon-bar { background-color: white; }